server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

crypto:
  vault:
    connection:
      host: {{crypto.vault.connection.host}}
      port: {{crypto.vault.connection.port}}
      role-id: {{crypto.vault.connection.role_id}}
      secret-id: {{crypto.vault.connection.secret_id}}
    secrets:
     - name: entityEncryptionKey
       location: {{crypto.vault.secrets.entityEncryptionKey.key_location}}
     - name: searchableFieldHasherSalt
       location: {{crypto.vault.secrets.searchableFieldHasherSalt.key_location}}
  hashers:
   - name: searchableFieldHasher
     secret: {{crypto.hashers.searchableFieldHasherSalt.secret}}
     algo: {{crypto.hashers.searchableFieldHasherSalt.algo}}
  encryptors:
   - name: entityEncryptor
     secret: {{crypto.encryptors.entityEncryptor.secret}}
     algo: {{crypto.encryptors.entityEncryptor.algo}}

#TO BE REMOVED WITH APP S7 PUSH
vault:
  connection:
    host: {{vault.connection.host}}
    port: {{vault.connection.port}}
    role-id: {{vault.connection.role_id}}
    secret-id: {{vault.connection.secret_id}}
  secrets:
    key-location: {{vault.secrets.key_location}}
    salt-location: {{vault.secrets.salt_location}}

spring:
  application:
    name: card-application-service
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  kafka:
    bootstrap-servers: {{kafka.bootstrap_servers}}
    consumer:
      group-id: ${spring.application.name}
      auto-offset-reset: earliest
      enable-auto-commit: false
      concurrency-limit: {{kafka.consumer.concurrency_limit}}
      retry-interval: {{kafka.consumer.retry_interval}}
    producer:
      retries: {{kafka.producer.retries}}
      time-out-milli-seconds: {{kafka.producer.timeout_milliseconds}}
    topics:
      cards-applications-topic: cards.customer-notifications.applications
      cards-applications-outbound-topic: cards.customer-notifications.applications-outbound
      cards-events-topic: cards.customer-events.applications
  data:
    mongodb:
      uri: mongodb://{{database.connection.username}}:{{database.connection.password}}@{{database.connection.replicaSet}}/{{database.connection.databaseName}}

management:
  security.enabled: false
  port: 8082

endpoints:
  enabled: false
  health:
    enabled: true
    time-to-live: 5000

app:
  auth:
    signingKey: {{auth.signingKey}}
  services:
    decisionService:
      url: {{decisionService.url}}
      healthCheck: {{decisionService.healthCheck}}
    personHubService:
      url: {{personHubService.url}}
      healthCheck: {{personHubService.healthCheck}}
    accountService:
      url: {{accountService.url}}
      healthCheck: {{accountService.healthCheck}}
    profileService:
      url: {{profileService.url}}
      healthCheck: {{profileService.healthCheck}}
    docGenService:
      url: {{docGenService.url}}
      healthCheck: {{docGenService.healthCheck}}
    finalCardService:
      url: {{finalCardService.url}}
      healthCheck: {{finalCardService.healthCheck}}
  swagger:
    appInfo:
      title: {{swagger.appInfo.title}}
      description: "Set of APIs for customer applications"
      contact:
        name:  Marcus by GS
        email:  info@marcusdeveloper.com
  product:
    productType: {{app.productType}}
    offerValidityPeriod:
      magnitude: {{app.offerValidityPeriod.magnitude}}
      unit: {{app.offerValidityPeriod.unit}}
  document-generation:
    preGeneratedDocuments:
      createAppToSubmitApp:
        - id: {{documentGeneration.application_terms_and_conditions}}
          version: 0.0.1
          name: application-terms-and-conditions
          required: true
          disclosures:
            - name: schumer-box-general
              version: 0.0.1
            - name: terms-of-use
              version: 0.0.1
            - name: privacy-policy
              version: 0.0.1
            - name: e-sign
              version: 0.0.1
            - name: credit-report-authorization
              version: 0.0.1
            - name: income-field-level-authorization
              version: 0.0.1
            - name: card-member-agreement
              version: 0.0.1
            - name: gramm-leach-bliley-act
              version: 0.0.1
            - name: patriot-act
              version: 0.0.1
        - id: {{documentGeneration.partner_data_sharing}}
          version: 0.0.1
          name: partner-data-sharing
          required: false
          disclosures:
            - name: partner-data-sharing-consent
              version: 0.0.1
      submitAppToAcceptOffer:
        - id: {{documentGeneration.vt}}
          version: 0.0.1
          name: VT
          required: false
          disclosures:
            - name: vermont-opt-in
              version: 0.0.1
        - id: {{documentGeneration.ca}}
          version: 0.0.1
          name: CA
          required: false
          disclosures:
            - name: california-opt-in
              version: 0.0.1
    dynamicTemplates:
      applicationOfferDisclosureTemplateId: application-terms-and-conditions-offer
      applicationAdverseActionTemplateIdPrefix: adverse-action-notice