server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

crypto:
  vault:
    connection:
      host: {{crypto.vault.connection.host}}
      port: {{crypto.vault.connection.port}}
      role-id: {{crypto.vault.connection.role_id}}
      secret-id: {{crypto.vault.connection.secret_id}}
    secrets:
     - name: entityEncryptionKey
       location: {{crypto.vault.secrets.entityEncryptionKey.key_location}}
     - name: searchableFieldHasherSalt
       location: {{crypto.vault.secrets.searchableFieldHasherSalt.key_location}}
  hashers:
   - name: searchableFieldHasher
     secret: {{crypto.hashers.searchableFieldHasherSalt.secret}}
     algo: {{crypto.hashers.searchableFieldHasherSalt.algo}}
  encryptors:
   - name: entityEncryptor
     secret: {{crypto.encryptors.entityEncryptor.secret}}
     algo: {{crypto.encryptors.entityEncryptor.algo}}

vault:
  connection:
    host: {{vault.connection.host}}
    port: {{vault.connection.port}}
    role-id: {{vault.connection.role_id}}
    secret-id: {{vault.connection.secret_id}}
  secrets:
    key-location: {{vault.secrets.key_location}}
    salt-location: {{vault.secrets.salt_location}}

spring:
  application:
    name: decision-service
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    mongodb:
      uri: {{mongodb.uri}}

app:
  auth:
    signingKey: {{auth.signingKey}}
  enable-change-stream-audits: true
  services:
    decisionEngine:
      url: {{decisionEngine.url}}
  swagger:
    appInfo:
      title: {{swagger.appInfo.title}}
      description: "Set of APIs to decision customer applications"
      contact:
        name:  Marcus by GS
        email:  info@marcusdeveloper.com

s3:
  bucket: {{s3.bucket}}
  accessKey: {{s3.accessKey}}
  secretKey: {{s3.secretKey}}
  connectionTimeout: {{s3.connectionTimeout}}
  requestTimeout: {{s3.requestTimeout}}
  maxConnections: {{s3.maxConnections}}
  retry: {{s3.retry}}
