[Unit]
Description=Wiremock
After=syslog.target network.target

[Service]
#Type=forking
ExecStart=/usr/bin/java -jar /opt/gs/{{service_dir_name}}/wiremock-standalone-2.14.0.jar --port 10100 --root-dir /etc/gs/{{service_dir_name}}/wiremock --proxy-all https://{{provenir_alias}} --global-response-templating --verbose --max-request-journal-entries 10
StartLimitInterval=0
User=cftmosaic
Group=cftmosaic
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
