server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

spring:
  application:
    name: "{{service_dir_name}}"
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

coreCardOverride:
  billingTableId: {{coreCardOverride.billingTableId}}
  productId: {{coreCardOverride.productId}}
  enabled: {{coreCardOverride.enabled}}

app:
  disclosures:
    ACH_ONE_TIME_PAYMENT: {{disclosures.ACH_ONE_TIME_PAYMENT}}
    ACH_FUNDING_SOURCE: {{disclosures.ACH_FUNDING_SOURCE}}
  swagger:
    appInfo:
      title: "Account Management Service APIs"
      description: "Set of APIs to manage account state."
      version: 1.0.0
      termsOfServiceUrl: "Terms of Service"
      contact:
        name:  "Marcus By GS"
        email: "info@marcusdeveloper.com"
        url: "https://www.marcus.com/us/en"
      license:
      licenseUrl:
  retry:
    final:
      backoff: 30000
    moneymovement:
      backoff: 30000
  services:
    final:
      url: "{{final_url}}"
      healthcheck: "{{final_url}}"
    moneymovement:
      url: "{{money_movement_url}}"
      healthcheck: "{{money_movement_url}}"
    profile:
      url: "{{profile_url}}"
      healthcheck: "{{profile_url}}"