server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

spring:
  application:
      name: {{spring.application.name}}
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    mongodb:
      uri: mongodb://{{spring.data.mongodb.user}}:{{spring.data.mongodb.password}}@{{spring.data.mongodb.replicaSet}}/{{spring.data.mongodb.databaseName}}


logging:
  config: {{server_log_config}}
  path: {{logging.path}}
  file:
    max-history: 15
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"

app:
  swagger:
    appInfo:
      title: "Communication Service APIs"
      description: "Set of APIs to manage and create new communications"
      version: 1.0.0
      termsOfServiceUrl: "https://developer.marcus.com/terms/"
      contact:
        name:  CookieDev
        email:  null
        url:
      license:
      licenseUrl:
  communication:
    kafka:
      topics:
        newCommunicationTopic: {{app.communication.kafka.topics.newCommunicationTopic}}
      bootstrap-servers: {{app.communication.kafka.bootstrap_servers}}
      consumer:
        group-id: {{app.communication.kafka.consumer.group_id}}
    camunda:
      path: {{app.communication.camunda.path}}
      process-engine-name: {{app.communication.camunda.process_engine_name}}
    rules:
      path: {{app.communication.rules.path}}
    account-mgt:
      hostname: {{app.communication.account_mgt.hostname}}
      get-accounts-api: {{app.communication.account_mgt.get_accounts_api}}
      get-account-summary-api: {{app.communication.account_mgt.get_account_summary_api}}
    person-hub:
      hostname: {{app.communication.person_hub.hostname}}
      get-person-api: {{app.communication.person_hub.get_person_api}}

security:
  ignored-paths: {{security.ignored_paths}}
  claims:
    realm: {{env}}

crypto:
  vault:
    connection:
      host: {{crypto.vault.connection.host}}
      port: {{crypto.vault.connection.port}}
      role-id: {{crypto.vault.connection.role_id}}
      secret-id: {{crypto.vault.connection.secret_id}}
    secrets:
     - name: {{crypto.vault.secrets[0].name}}
       location: {{crypto.vault.secrets[0].location}}

camunda:
  bpm:
    job-execution:
      enabled: {{camunda.bpm.job_execution}}