[Unit]
Description={{service_name}}
After=syslog.target network.target

[Service]
#Type=forking
ExecStart=/usr/bin/java -jar -Dspring.profiles.active={{spring.profile}} /opt/gs/{{service_dir_name}}/cookieatm-trunk-SNAPSHOT.jar
User=cftmosaic
Group=cftmosaic
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
