app:
  swagger:
    appInfo:
      title: {{service_name}} Mongo Change Stream Service
      version: 0.0.1
      description: Event sinking service for changes to mongoDb historyCollection changes
  kafka:
    producer:
      timeOutMilliSeconds: {{app.kafka.producer.timeOutMilliSeconds}}
  data:
    streams:
      source:
        database: {{app.data.streams.source.database}}
        collection: {{app.data.streams.source.collection}}
        uri: {{app.data.streams.source.uri}}
      destination:
        database: {{app.data.streams.destination.database}}
        collection: {{app.data.streams.destination.collection}}
        uri: {{app.data.streams.destination.uri}}
        kafkaTopicFilterConfigs:
          - topicName: {{app.data.streams.destination.kafkaTopicFilterConfigs[0].topicName}}
            filterType: {{app.data.streams.destination.kafkaTopicFilterConfigs[0].filterType}}

spring:
  application:
    name: {{service_dir_name}}
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  kafka:
    bootstrap-servers: {{spring.kafka.bootstrap_servers}}
    producer:
      retries: {{spring.kafka.producer.retries}}

crypto:
  vault:
    connection:
      host: {{crypto.vault.connection.host}}
      port: {{crypto.vault.connection.port}}
      role-id: {{crypto.vault.connection.role_id}}
      secret-id: {{crypto.vault.connection.secret_id}}
    secrets:
     - name: {{crypto.vault.secrets[0].name}}
       location: {{crypto.vault.secrets[0].location}}
     - name: {{crypto.vault.secrets[1].name}}
       location: {{crypto.vault.secrets[1].location}}
  encryptors:
   - name: {{crypto.encryptors[0].name}}
     secret: {{crypto.encryptors[0].secret}}
     algo: {{crypto.encryptors[0].algo}}
  hashers:
   - name: {{crypto.hashers[0].name}}
     secret: {{crypto.hashers[0].secret}}
     algo: {{crypto.hashers[0].algo}}

server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

logging:
  config: classpath:logback-spring-console.xml
  path: ${HOME:C:/temp}/log/${spring.application.name}
  file:
    max-history: 15
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"