{
  "node_name": "{{service_dir_name}}-{{ansible_eth0.ipv4.address}}",
  "bind_addr": "{{ansible_eth0.ipv4.address}}",
  "client_addr": "{{consul.client_addr}}",
  "domain": "{{consul_env}}.{{consul.top_level_domain}}",
  "verify_outgoing": {{consul.verify_outgoing}},
  "encrypt": "{{gossip_key}}",
  "ca_file": "{{consul.ca_file}}",
  "retry_join": ["{{consul.retry_join}}"],
  "datacenter": "{{consul.datacenter}}",
  "data_dir": "{{consul.data_dir}}",
  "log_level": "{{consul.log_level}}",
  "server": {{consul.isServer}},
  "ports": {
    "server": {{consul.ports.server}},
    "http": {{consul.ports.http}},
    "https": {{consul.ports.https}},
    "serf_lan": {{consul.ports.serf_lan}},
    "serf_wan": {{consul.ports.serf_wan}},
    "dns": {{consul.ports.dns}}
  },
  "service": {
    "name": "{{service_dir_name}}",
    "tags": [{% for tag in consul.service.tags %}{% if not loop.last %}"{{tag}}",{% else %}"{{tag}}"{% endif %}{% endfor%}],
    "address": "{{consul.service.address}}",
    "port": {{consul.service.port}},
    "enable_tag_override": {{consul.service.enable_tag_override}},
    "checks": [
      {
        "http": "{{consul.service.checks.http}}",
        "method": "{{consul.service.checks.method}}",
        "interval": "{{consul.service.checks.interval}}",
        "timeout": "{{consul.service.checks.timeout}}"
      }
    ]
  }
}
