[Unit]
Description={{service_name}}
After=syslog.target network.target

[Service]
#Type=forking
ExecStart=/usr/local/bin/consul agent -config-file=/etc/hashicorp/consul/conf/consul.json
ExecStop=/bin/kill -INT $MAINPID
User=cftmosaic
Group=cftmosaic
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
