server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

security:
 ignoredPaths: /**

spring:
  application:
    name: card-gateway-service
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  profiles:
    active: local

security.basic.enabled: false

management:
  security.enabled: false
  port: 8082

endpoints.health.path: /ping

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

ecdh-encryptor-config:
  keySpec: AES
  cipherAlgorithm: AES/GCM/NoPadding
  ecV1KeySizeInBytes: 32
  ecV2KeySizeInBytes: 16
  ivSizeInBytes: 16
  provider: BC
  version: EC_v1

jks-params:
  path: ${HOME}\ask_for_it.jks
  alias: ask_for_it
  pass: ask_for_it

hsm-config:
  user: crypt_user
  pass: {{hsm_nonprod_password}}
{% if env != 'patuat' %}
  privateKeyHandle: 15
  publicKeyHandle: 9
{% endif %}
{% if env == 'patuat' %}
  privateKeyHandle: 17
  publicKeyHandle: 786440
{% endif %}


use-hsm: true

app:
  auth:
    signingKey: {{auth.signingKey}}
  services:
    profileService:
      url: {{profileService.url}}
    accountService:
      url: {{accountService.url}}
    applicationService:
      url: {{applicationService.url}}
    cardService:
      url: {{cardService.url}}
    phubService:
      url: {{phubService.url}}
  encryption:
    partyUInfo: {{party_u_info}}
{% if env == 'patqa' or env == 'patuat' %}
    externalPublicKey: {{external_key}}
{% endif %}
  swagger:
    appInfo:
      title: "Marcus Cards Gateway APIs"
      description: "This page offers a range of APIs that allow one to apply for the Marcus Credit Card, and subsequently manage their Marcus Account. The APIs cover the lifecycle of the product - Apply, Engage, Spend - and allow for full service access."
      version: 1.0
      termsOfServiceUrl: "https://developer.marcus.com/terms/"
      contact:
        name:  "Marcus by Goldman Sachs"
        email: "gs-marcus-cookie-dev@internal.email.gs.com"
        url: "INTERNAL ONLY"
      license:
      licenseUrl:
      basePackage: "com.gs.cft.cookie.cardgateway.api"

s3:
  bucket: {{s3.bucket}}
  endpoint: {{s3.endpoint}}
  accessKey: {{s3.accesskey}}
  secretKey: {{secret_key}}
  connectionTimeout: {{s3.connectionTimeout}}
  requestTimeout: {{s3.requestTimeout}}
  maxConnections: {{s3.maxConnections}}
  retry: {{s3.retry}}

signature-config:
  dynamic-cert: {{signature_config.dynamic_cert}}
{% if signature_config.certificate_path is defined %}
  certificate-path: {{signature_config.certificate_path}}
{% endif %}

crypto:
  vault:
    connection:
      host: {{crypto.vault.connection.host}}
      port: {{crypto.vault.connection.port}}
      role-id: {{crypto.vault.connection.role_id}}
      secret-id: {{crypto.vault.connection.secret_id}}
    secrets:
     - name: {{crypto.vault.secrets[0].name}}
       location: {{crypto.vault.secrets[0].location}}
  encryptors:
   - name: {{crypto.encryptors[0].name}}
     secret: {{crypto.encryptors[0].secret}}
     algo: {{crypto.encryptors[0].algo}}

tenant-config:
  tenants:
    - tenantId: {{tenantId}}