server {
    listen 8443 ssl;
    server_name _;

    # MC-488: Remove Version number
    server_tokens off;

    # MC-486: Buffer Overflow Protection
    client_body_buffer_size  100K;
    client_header_buffer_size 1k;
    client_max_body_size 100k;
    large_client_header_buffers 2 1k;

    # MC-489: Mitigating Slow HTTP DoS Attack
    client_body_timeout   10;
    client_header_timeout 10;
    keepalive_timeout     5 5;
    send_timeout          10;

    # MC-494: HTTP secure Header
    # X-Frame-Options is to prevent from clickJacking attack
    add_header X-Frame-Options SAMEORIGIN;
    # disable content-type sniffing on some browsers.
    add_header X-Content-Type-Options nosniff;
    # This header enables the Cross-site scripting (XSS) filter
    add_header X-XSS-Protection "1; mode=block";
    # This will enforce HTTP browsing into HTTPS and avoid ssl stripping attack
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

    ssl_certificate         /var/nginx/webserver/certs/nonprod_perimeter_final_notification_chain.pem;
    ssl_certificate_key     /var/nginx/webserver/certs/private.key;
    ssl_password_file       /var/nginx/webserver/certs/pkpassfile;
    ssl_protocols TLSv1.2;

    location /status/loadbalancer {
        root /var/nginx/webserver/html;
    }

    location / {
        proxy_pass http://{{card_notification_service.app_host}}:{{card_notification_service.app_port}};
    }
}
