[Unit]
Description={{service_name}}
After=syslog.target network.target

[Service]
#Type=forking
ExecStart=/usr/bin/java -jar -Djavax.net.ssl.keyStorePassword={{identity_keystore_password}} -Djavax.net.ssl.keyStore=/etc/gs/{{service_dir_name}}/certs/gsIdentityKeyStore /opt/gs/{{service_dir_name}}/{{service_dir_name}}-{{nexus.version}}.jar --spring.config.location=/opt/gs/{{service_dir_name}}/application.yml
StartLimitInterval=0
User=cftmosaic
Group=cftmosaic
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
