server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

spring:
  data:
    mongodb:
      uri: mongodb://{{spring.data.mongodb.user}}:{{spring.data.mongodb.password}}@{{spring.data.mongodb.replicaSet}}/{{spring.data.mongodb.databaseName}}
  application:
    name: {{service_dir_name}}
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
{% if env == 'patqa' %}
security.basic.enabled: false
management.security.enabled: false
{% endif %}

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

management:
   endpoint:
      health:
        show-details: "ALWAYS"

app:
  swagger:
    appInfo:
      title: "Platform Version API"
      description: "Set of APIs for Platform Version Management."
      version: 1.0.0
      termsOfServiceUrl: "Terms of Service"
      contact:
        name:  "Marcus By GS"
        email: "info@marcusdeveloper.com"
        url: "https://www.marcus.com/us/en"
      license:
      licenseUrl:

systems:
  internal:
    - baseUrl: {{account_management_service.url}}
      buildInfoPath: actuator/info
      serviceName: account-management-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{bank_account_service.url}}
      buildInfoPath: actuator/info
      serviceName: bank-account-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_agent_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-agent-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_application_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-application-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_decision_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-decision-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_document_generation_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-document-generation-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_gateway_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-gateway-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_management_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-management-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_notification_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-notification-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_profile_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-profile-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{card_transaction_service.url}}
      buildInfoPath: actuator/info
      serviceName: card-transaction-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{case_management_service.url}}
      buildInfoPath: actuator/info
      serviceName: case-management-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{chat_service.url}}
      buildInfoPath: actuator/info
      serviceName: chat-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{collections_casemgmt_service.url}}
      buildInfoPath: actuator/info
      serviceName: collections-case-management-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{dispute_case_management_service.url}}
      buildInfoPath: actuator/info
      serviceName: dispute-case-management-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{money_movement_service.url}}
      buildInfoPath: actuator/info
      serviceName: money-movement-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{person_agent_service.url}}
      buildInfoPath: actuator/info
      serviceName: person-agent-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{person_hub_service.url}}
      buildInfoPath: actuator/info
      serviceName: person-hub-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
    - baseUrl: {{task_management_service.url}}
      buildInfoPath: actuator/info
      serviceName: task-management-service
      responseType: com.gs.cft.cards.platformversioning.domain.model.dto.client.SpringBootBuild
