server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file_date_format: yyyy-MM-dd
      filename: "{{service_log_dir}}/{{service_dir_name}}/{{service_dir_name}}-access.log"
      time_zone: GMT
      extended_format: false
      log_latency: true
      append: true

logging:
  config: {{server_log_config}}
  path: "{{service_log_dir}}/{{service_dir_name}}"
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

spring:
  main:
    banner-mode: log
  application:
    name: {{service_dir_name}}
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    mongodb:
      uri: mongodb://{{spring.data.mongodb.username}}:{{spring.data.mongodb.password}}@{{spring.data.mongodb.servers}}/{{spring.data.mongodb.dbName}}

app:
  auth:
    signingKey: whatever-not-null
  retry:
    template-pull:
      count: 2
      backoff: 500
    document-save:
      count: 3
      backoff: 500
  encryptor:
    filename: key/keys.bin
  quartz:
    propertiesPath: file:/opt/gs/{{service_dir_name}}/quartz.properties
  swagger:
    appInfo:
      title: "Task Management APIs"
      description: "Set of APIs to manage tasks from policies"
      version: 1.0.0
      termsOfServiceUrl: "https://developer.marcus.com/terms/"
      contact:
        name:  CookieDev
        email:  null
        url:
      license:
      licenseUrl: