[monitor:///var/log/*-service/]
whitelist=-access
index={{splunk_index}}
sourcetype=cards_access

[monitor:///var/log/*service/]
whitelist=-service
blacklist=(-access)
index={{splunk_index}}
sourcetype=cards_applog
