server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

spring:
  data:
    mongodb:
      uri: mongodb://{{spring.data.mongodb.user}}:{{spring.data.mongodb.password}}@{{spring.data.mongodb.replicaSet}}/{{spring.data.mongodb.databaseName}}
  application:
    name: {{spring.application.name}}
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  kafka:
    consumer:
      group-id: {{spring.application.name}}
      auto-offset-reset: latest
      enable-auto-commit: false
    bootstrap-servers: {{spring.kafka.bootstrapServers}}
    producer:
      retries: 3

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg %X{notifyData}%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg %X{notifyData}%n"
  file:
    max-history: {{logging.file.max_history}}

app:
  auth:
    signingKey: c2VjcmV0
  kafka:
    producer:
      timeOutMilliSeconds: 5000
    consumer:
      concurrencyLimit: 3
    topics:
      finalTransactionsTopic: final.customer-notifications.transactions
      finalPaymentsTopic: final.customer-notifications.payments
      finalStatementsTopic: final.customer-notifications.statements
      partnerEventNotificationTopic: partner.customer-notifications
      cardsApplicationStatusTopic: cards.customer-notifications.applications
      cardsStatementsTopic: cards.customer-notifications.statements
      cardsProcessedTopic: cards.customer-notifications.processed
  services:
    partner-service:
      eventNotificationBasePath: /ccs/v1/users/eventNotification/
      maxRetry: 3
      delayRetry: 1000
      maxDelayRetry: 30000
      retryMultiplier: 5.0
    profile-service:
      url: {{app.services.profileService.url}}
      healthCheck: {{app.services.profileService.healthCheck}}
  swagger:
    appInfo:
      title: "Marcus Cards - {{env}} Notification Service APIs"
      description: "Exposes APIs for processing and dispatching customer notifications"
      version: 1.0.0
      termsOfServiceUrl: "https://developer.marcus.com/terms/"
      contact:
        name:  CookieDev
        email:  null
        url:
      license:
      licenseUrl: