server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

#https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-multipart-file-upload-configuration
spring:
  main:
    banner-mode: log
  application:
    name: card-document-generation-service
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  profiles:
    active: {{env}}
logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}
app:
  auth:
    signingKey: {{app.auth.signingKey}}
  retry:
    template-pull:
      count: {{app.retry.template_pull.count}}
      backoff: {{app.retry.template_pull.backoff}}
    document-save:
      count: {{app.retry.document_save.count}}
      backoff: {{app.retry.document_save.backoff}}
  encryptor:
    filename: {{app.encryptor.filename}}
  swagger:
    appInfo:
      title: {{app.swagger.appInfo.title}}
      description: {{app.swagger.appInfo.description}}
      version: {{app.swagger.appInfo.version}}
      termsOfServiceUrl: {{app.swagger.appInfo.termsOfServiceUrl}}
      contact:
        name: {{app.swagger.appInfo.contact.name}}
        email: {{app.swagger.appInfo.contact.email}}
        url: {{app.swagger.appInfo.contact.url}}
      license: {{app.swagger.appInfo.license}}
      licenseUrl: {{app.swagger.appInfo.licenseUrl}}

template:
  meta:
    path: card-templates

s3:
  bucket: {{s3.bucket}}
  endpoint: {{s3.endpoint}}
  accessKey: {{s3.accesskey}}
{% if env == 'dev' %}
  secretKey: {{dev_user_s3_secret_key}}
{% endif %}
{% if env == 'patqa' %}
  secretKey: {{patqa_user_s3_secret_key}}
{% endif %}
{% if env == 'qa' %}
  secretKey: {{qa_user_s3_secret_key}}
{% endif %}
{% if env == 'patuat' %}
  secretKey: {{patuat_user_s3_secret_key}}
{% endif %}
{% if env == 'uat' %}
  secretKey: {{uat_user_s3_secret_key}}
{% endif %}
  connectionTimeout: {{s3.connectionTimeout}}
  requestTimeout: {{s3.requestTimeout}}
  maxConnections: {{s3.maxConnections}}
  retry: {{s3.retry}}

crypto:
  vault:
    connection:
      host: {{crypto.vault.connection.host}}
      port: {{crypto.vault.connection.port}}
      role-id: {{crypto.vault.connection.role_id}}
      secret-id: {{crypto.vault.connection.secret_id}}
    secrets:
     - name: {{crypto.vault.secrets[0].name}}
       location: {{crypto.vault.secrets[0].location}}
  encryptors:
   - name: {{crypto.encryptors[0].name}}
     secret: {{crypto.encryptors[0].secret}}
     algo: {{crypto.encryptors[0].algo}}
