server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

spring:
  application:
    name: "{{service_dir_name}}"
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

firstdata:
  baseUrl: {{firstdata.baseUrl}}
  apiKey: {{firstdata.apiKey}}
  token: {{firstdata.token}}
  apiSecret: {{firstdata.apiSecret}}
  merchantRef: {{firstdata.merchantRef}}

app:
  swagger:
    appInfo:
      title: "Money Movement API"
      description: "Set of APIs to manage payments and rewards."
      version: 1.0.0
      termsOfServiceUrl: "Terms of Service"
      contact:
        name:  "Marcus By GS"
        email: "info@marcusdeveloper.com"
        url: "https://www.marcus.com/us/en"
      license:
      licenseUrl:
  services:
    peerpaymentservice:
      omnibusaccount: "{{omnibus_account}}"
      baseUrl: "{{peerpaymentservice_url}}"
      wiremock.enabled: {{wiremock_enabled}}
      wiremock.url: "{{wiremock_url}}"
      maxRetry: 3
      delayRetry: 1000
      maxDelayRetry: 30000
      retryMultiplier: 5.0

signature-config:
  private-key-path: /etc/gs/{{service_dir_name}}/certs/ecsignaturekey.pem
  certificate-path: /etc/gs/{{service_dir_name}}/certs/nonprod_peer_payment_cert.pem

signature-params:
  pem-file-path: /etc/gs/{{service_dir_name}}/certs/ecsignaturekey.pem

peer-payment-service:
  wiremock-enabled: {{wiremock_enabled}}
  wiremock-url: "{{wiremock_url}}"
  maxRetry: 3
  delayRetry: 1000
  maxDelayRetry: 30000
  retryMultiplier: 5.0
  tenant-mapping:
    "{{tenant_id}}":
      omnibusAccount: "{{omnibus_account}}"
      endpoint: "{{peerpaymentservice_url}}"
