app:
  enable-change-stream-audits: true
  swagger:
    appInfo:
      title: {{service_name}}
      version: 0.0.1
      description: Manage Person Details

spring:
  application:
    name: {{service_dir_name}}
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    mongodb:
      uri: mongodb://{{database.connection.username}}:{{database.connection.password}}@{{database.connection.replicaSet}}/{{database.connection.databaseName}}

crypto:
  vault:
    connection:
      host: {{crypto.vault.connection.host}}
      port: {{crypto.vault.connection.port}}
      role-id: {{crypto.vault.connection.role_id}}
      secret-id: {{crypto.vault.connection.secret_id}}
    secrets:
     - name: {{crypto.vault.secrets[0].name}}
       location: {{crypto.vault.secrets[0].location}}
     - name: {{crypto.vault.secrets[1].name}}
       location: {{crypto.vault.secrets[1].location}}
     - name: {{crypto.vault.secrets[2].name}}
       location: {{crypto.vault.secrets[2].location}}

  encryptors:
   - name: {{crypto.encryptors[0].name}}
     secret: {{crypto.encryptors[0].secret}}
     algo: {{crypto.encryptors[0].algo}}
  hashers:
   - name: {{crypto.hashers[0].name}}
     secret: {{crypto.hashers[0].secret}}
     algo: {{crypto.hashers[0].algo}}

server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

security:
  ignored-paths: /**

management:
  endpoint:
    health:
      show-details: always
