server:
  port: 8443
  jetty:
    accesslog:
      enabled: {{server.jetty.accesslog.enabled}}
      retention-period: {{server.jetty.accesslog.retention_period}}
      file-date-format: {{server.jetty.accesslog.file_date_format}}
      filename: {{server.jetty.accesslog.filename}}
      time-zone: {{server.jetty.accesslog.time_zone}}
      extended-format: {{server.jetty.accesslog.extended_format}}
      log-latency: {{server.jetty.accesslog.log_latency}}
      append: {{server.jetty.accesslog.append}}

spring:
  application:
    name: "{{service_dir_name}}"
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
{% if env == 'patqa' %}
security.basic.enabled: false
management:
  security.enabled: false
  port: 8082
endpoints.health.path: /ping
{% endif %}
logging:
  path: {{logging.path}}
  config: {{server_log_config}}
  pattern:
    file: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
    console: "%date{yyyy-MM-dd}T%date{HH:mm:ss.SSSZ} %-5level [%thread|%X{mdcData:-null}] %logger{36} \\(%file:%line\\) - %msg%n"
  file:
    max-history: {{logging.file.max_history}}

management:
   endpoint:
      health:
        show-details: "ALWAYS"

app:
  auth:
    signingKey: {{auth.signingKey}}

  services:
    personAgentService:
        url: {{personAgentService.url}}
        healthCheck: {{personAgentService.healthCheck}}
    cardManagementService:
        url: {{cardManagementService.url}}
        healthCheck: {{cardManagementService.healthCheck}}
    cardNotificationService:
        url: {{cardNotificationService.url}}
        healthCheck: {{cardNotificationService.healthCheck}}
    cardTransactionService:
        url: {{cardTransactionService.url}}
        healthCheck: {{cardTransactionService.healthCheck}}
    cardApplicationService:
        url: {{cardApplicationService.url}}
        healthCheck: {{cardApplicationService.healthCheck}}
    cardAccountManagementService:
        url: {{cardAccountManagementService.url}}
        healthCheck: {{cardAccountManagementService.healthCheck}}

  swagger:
    appInfo:
      title: "Marcus Cards - Card Agent Service APIs"
      description: "Exposes APIs for the Agent UI"
      version: 1.0.0
      termsOfServiceUrl: "https://developer.marcus.com/terms/"
      contact:
        name:  CookieDev
        email:  null
        url:
      license:
      licenseUrl:
      basePackage: "com.gs.ccbd"
